openapi: 3.0.3
info:
  title: API
  version: 1.0.0
paths:
  /health:
    get:
      tags:
        - health
      operationId: getHealth
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /health/ready:
    get:
      tags:
        - health
      operationId: getReady
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /posts:
    get:
      tags:
        - posts
      operationId: getList_posts
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    post:
      tags:
        - posts
      operationId: postCreate_post
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /posts/{id}:
    get:
      tags:
        - posts
      operationId: getGet_post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    put:
      tags:
        - posts
      operationId: putUpdate_post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    delete:
      tags:
        - posts
      operationId: deleteDelete_post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users:
    get:
      tags:
        - users
      operationId: getList_users
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    post:
      tags:
        - users
      operationId: postCreate_user
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users/{id}:
    get:
      tags:
        - users
      operationId: getGet_user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    put:
      tags:
        - users
      operationId: putUpdate_user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    delete:
      tags:
        - users
      operationId: deleteDelete_user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users/{user_id}/posts:
    get:
      tags:
        - users
      operationId: getGet_user_posts
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
components:
  schemas:
    HealthStatus:
      type: object
      title: HealthStatus
      properties:
        status:
          type: string
        version:
          type: string
      required:
        - status
        - version
    Post:
      type: object
      title: Post
      properties:
        body:
          type: string
        id:
          type: integer
        title:
          type: string
        user_id:
          type: integer
      required:
        - id
        - user_id
        - title
        - body
    User:
      type: object
      title: User
      properties:
        email:
          type: string
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
        - email
